modules = ["nodejs-20", "web", "nix"]
[nix]
channel = "stable-24_05"

language = "nodejs"

entrypoint = "momi_project/backend/index.js"

[packager]
[packager.features]
packageSearch = true

[env]
PORT = "3001"

[deployment]
deploymentTarget = "cloudrun"
buildCommand = "cd momi_project/backend && npm install && npm run build"
runCommand = "cd momi_project/backend && node index.js"
run = ["sh", "-c", "cd momi_project/backend && npm start"]
build = ["sh", "-c", "cd momi_project/backend && npm install && npm run build"]

[[ports]]
localPort = 3001
externalPort = 80

[workflow]
[workflow.default]
name = "Build and Run"
author = 41873379
mode = "sequential"

[[workflow.default.tasks]]
task = "shell.exec"
args = "cd momi_project/backend && npm install && npm run build && node index.js"
